/* Credits: Atlassian design system https://www.figma.com/@atlassian */

:root {
  /* Space */
  --wc-space-0: 0px;
  --wc-space-25: 2px;
  --wc-space-50: 4px;
  --wc-space-75: 6px;
  --wc-space-100: 8px;
  --wc-space-150: 12px;
  --wc-space-200: 16px;
  --wc-space-250: 20px;
  --wc-space-300: 24px;
  --wc-space-400: 32px;
  --wc-space-500: 40px;
  --wc-space-600: 48px;
  --wc-space-800: 64px;
  --wc-space-1000: 80px;

  /* Color */
  --wc-color-text-default: rgba(182, 194, 207, 1);
  --wc-color-text-accent-red-default: rgba(253, 152, 145, 1);
  --wc-color-text-accent-red-bolder: rgba(255, 213, 210, 1);
  --wc-color-text-accent-orange-default: rgba(254, 193, 149, 1);
  --wc-color-text-accent-orange-bolder: rgba(254, 222, 200, 1);
  --wc-color-text-accent-yellow-default: rgba(245, 205, 71, 1);
  --wc-color-text-accent-yellow-bolder: rgba(248, 230, 160, 1);
  --wc-color-text-accent-green-default: rgba(126, 226, 184, 1);
  --wc-color-text-accent-green-bolder: rgba(186, 243, 219, 1);
  --wc-color-text-accent-teal-default: rgba(157, 217, 238, 1);
  --wc-color-text-accent-teal-bolder: rgba(198, 237, 251, 1);
  --wc-color-text-accent-blue-default: rgba(132, 183, 255, 1);
  --wc-color-text-accent-blue-bolder: rgba(203, 224, 255, 1);
  --wc-color-text-accent-purple-default: rgba(184, 172, 246, 1);
  --wc-color-text-accent-purple-bolder: rgba(222, 216, 252, 1);
  --wc-color-text-accent-magenta-default: rgba(247, 151, 210, 1);
  --wc-color-text-accent-magenta-bolder: rgba(253, 208, 235, 1);
  --wc-color-text-accent-gray-default: rgba(159, 173, 188, 1);
  --wc-color-text-accent-gray-bolder: rgba(222, 228, 234, 1);
  --wc-color-text-disabled: rgba(191, 219, 248, 0.28);
  --wc-color-text-inverse: rgba(29, 33, 37, 1);
  --wc-color-text-selected: rgba(86, 156, 255, 1);
  --wc-color-text-brand: rgba(86, 156, 255, 1);
  --wc-color-text-danger: rgba(253, 152, 145, 1);
  --wc-color-text-warning: rgba(245, 205, 71, 1);
  --wc-color-text-warning-inverse: rgba(29, 33, 37, 1);
  --wc-color-text-success: rgba(126, 226, 184, 1);
  --wc-color-text-discovery: rgba(184, 172, 246, 1);
  --wc-color-text-information: rgba(132, 183, 255, 1);
  --wc-color-text-subtlest: rgba(140, 155, 171, 1);
  --wc-color-text-subtle: rgba(159, 173, 188, 1);
  --wc-color-link-default: rgba(86, 156, 255, 1);
  --wc-color-link-pressed: rgba(132, 183, 255, 1);
  --wc-color-icon-default: rgba(159, 173, 188, 1);
  --wc-color-icon-accent-red: rgba(226, 72, 61, 1);
  --wc-color-icon-accent-orange: rgba(243, 138, 63, 1);
  --wc-color-icon-accent-yellow: rgba(245, 205, 71, 1);
  --wc-color-icon-accent-green: rgba(42, 187, 127, 1);
  --wc-color-icon-accent-teal: rgba(66, 178, 215, 1);
  --wc-color-icon-accent-blue: rgba(56, 138, 254, 1);
  --wc-color-icon-accent-purple: rgba(143, 126, 231, 1);
  --wc-color-icon-accent-magenta: rgba(218, 98, 172, 1);
  --wc-color-icon-accent-gray: rgba(115, 132, 150, 1);
  --wc-color-icon-disabled: rgba(191, 219, 248, 0.28);
  --wc-color-icon-inverse: rgba(29, 33, 37, 1);
  --wc-color-icon-selected: rgba(86, 156, 255, 1);
  --wc-color-icon-brand: rgba(86, 156, 255, 1);
  --wc-color-icon-danger: rgba(241, 91, 80, 1);
  --wc-color-icon-warning: rgba(245, 205, 71, 1);
  --wc-color-icon-warning-inverse: rgba(29, 33, 37, 1);
  --wc-color-icon-success: rgba(42, 187, 127, 1);
  --wc-color-icon-discovery: rgba(143, 126, 231, 1);
  --wc-color-icon-information: rgba(56, 138, 254, 1);
  --wc-color-icon-subtle: rgba(140, 155, 171, 1);
  --wc-color-border-default: rgba(166, 197, 226, 0.16);
  --wc-color-border-accent-red: rgba(241, 91, 80, 1);
  --wc-color-border-accent-orange: rgba(243, 138, 63, 1);
  --wc-color-border-accent-yellow: rgba(207, 159, 2, 1);
  --wc-color-border-accent-green: rgba(42, 187, 127, 1);
  --wc-color-border-accent-teal: rgba(66, 178, 215, 1);
  --wc-color-border-accent-blue: rgba(56, 138, 254, 1);
  --wc-color-border-accent-purple: rgba(143, 126, 231, 1);
  --wc-color-border-accent-magenta: rgba(218, 98, 172, 1);
  --wc-color-border-accent-gray: rgba(115, 132, 150, 1);
  --wc-color-border-disabled: rgba(160, 188, 216, 0.08);
  --wc-color-border-focused: rgba(132, 183, 255, 1);
  --wc-color-border-input: rgba(166, 197, 226, 0.16);
  --wc-color-border-inverse: rgba(22, 26, 29, 1);
  --wc-color-border-selected: rgba(86, 156, 255, 1);
  --wc-color-border-brand: rgba(86, 156, 255, 1);
  --wc-color-border-danger: rgba(241, 91, 80, 1);
  --wc-color-border-warning: rgba(207, 159, 2, 1);
  --wc-color-border-success: rgba(42, 187, 127, 1);
  --wc-color-border-discovery: rgba(143, 126, 231, 1);
  --wc-color-border-information: rgba(56, 138, 254, 1);
  --wc-color-border-bold: rgba(115, 132, 150, 1);
  --wc-color-background-accent-red-subtlest-default: rgba(66, 34, 31, 1);
  --wc-color-background-accent-red-subtler-default: rgba(93, 31, 26, 1);
  --wc-color-background-accent-red-subtle-default: rgba(174, 46, 36, 1);
  --wc-color-background-accent-red-bolder-default: rgba(248, 113, 104, 1);
  --wc-color-background-accent-orange-subtlest-default: rgba(56, 41, 30, 1);
  --wc-color-background-accent-orange-subtler-default: rgba(112, 46, 0, 1);
  --wc-color-background-accent-orange-subtle-default: rgba(165, 72, 0, 1);
  --wc-color-background-accent-orange-bolder-default: rgba(254, 163, 98, 1);
  --wc-color-background-accent-yellow-subtlest-default: rgba(51, 46, 27, 1);
  --wc-color-background-accent-yellow-subtler-default: rgba(83, 63, 4, 1);
  --wc-color-background-accent-yellow-subtle-default: rgba(127, 95, 1, 1);
  --wc-color-background-accent-yellow-bolder-default: rgba(226, 178, 3, 1);
  --wc-color-background-accent-green-subtlest-default: rgba(28, 51, 41, 1);
  --wc-color-background-accent-green-subtler-default: rgba(21, 75, 52, 1);
  --wc-color-background-accent-green-subtle-default: rgba(32, 109, 77, 1);
  --wc-color-background-accent-green-bolder-default: rgba(75, 206, 151, 1);
  --wc-color-background-accent-teal-subtlest-default: rgba(30, 49, 55, 1);
  --wc-color-background-accent-teal-subtler-default: rgba(22, 69, 85, 1);
  --wc-color-background-accent-teal-subtle-default: rgba(32, 106, 131, 1);
  --wc-color-background-accent-teal-bolder-default: rgba(108, 195, 224, 1);
  --wc-color-background-accent-blue-subtlest-default: rgba(28, 43, 65, 1);
  --wc-color-background-accent-blue-subtler-default: rgba(9, 50, 108, 1);
  --wc-color-background-accent-blue-subtle-default: rgba(0, 85, 204, 1);
  --wc-color-background-accent-blue-bolder-default: rgba(86, 156, 255, 1);
  --wc-color-background-accent-purple-subtlest-default: rgba(43, 39, 63, 1);
  --wc-color-background-accent-purple-subtler-default: rgba(53, 44, 99, 1);
  --wc-color-background-accent-purple-subtle-default: rgba(94, 77, 178, 1);
  --wc-color-background-accent-purple-bolder-default: rgba(159, 143, 239, 1);
  --wc-color-background-accent-magenta-subtlest-default: rgba(61, 34, 50, 1);
  --wc-color-background-accent-magenta-subtler-default: rgba(80, 37, 63, 1);
  --wc-color-background-accent-magenta-subtle-default: rgba(148, 60, 114, 1);
  --wc-color-background-accent-magenta-bolder-default: rgba(231, 116, 187, 1);
  --wc-color-background-accent-gray-subtlest-default: rgba(44, 51, 58, 1);
  --wc-color-background-accent-gray-subtler-default: rgba(69, 79, 89, 1);
  --wc-color-background-accent-gray-subtle-default: rgba(89, 103, 115, 1);
  --wc-color-background-accent-gray-bolder-default: rgba(140, 155, 171, 1);
  --wc-color-background-disabled: rgba(3, 4, 4, 0.26);
  --wc-color-background-input-default: rgba(33, 38, 43, 1);
  --wc-color-background-input-hovered: rgba(40, 46, 51, 1);
  --wc-color-background-input-pressed: rgba(33, 38, 43, 1);
  --wc-color-background-inverse-subtle-default: rgba(255, 255, 255, 0.16);
  --wc-color-background-inverse-subtle-hovered: rgba(255, 255, 255, 0.24);
  --wc-color-background-inverse-subtle-pressed: rgba(255, 255, 255, 0.32);
  --wc-color-background-neutral-default: rgba(160, 188, 216, 0.08);
  --wc-color-background-neutral-hovered: rgba(166, 197, 226, 0.16);
  --wc-color-background-neutral-pressed: rgba(191, 219, 248, 0.28);
  --wc-color-background-neutral-subtle-default: rgba(255, 255, 255, 0);
  --wc-color-background-neutral-subtle-hovered: rgba(160, 188, 216, 0.08);
  --wc-color-background-neutral-subtle-pressed: rgba(166, 197, 226, 0.16);
  --wc-color-background-neutral-bold-default: rgba(159, 173, 188, 1);
  --wc-color-background-neutral-bold-hovered: rgba(182, 194, 207, 1);
  --wc-color-background-neutral-bold-pressed: rgba(199, 209, 219, 1);
  --wc-color-background-selected-default: rgba(28, 43, 65, 1);
  --wc-color-background-selected-hovered: rgba(9, 50, 108, 1);
  --wc-color-background-selected-pressed: rgba(0, 85, 204, 1);
  --wc-color-background-selected-bold-default: rgba(86, 156, 255, 1);
  --wc-color-background-selected-bold-hovered: rgba(132, 183, 255, 1);
  --wc-color-background-selected-bold-pressed: rgba(203, 224, 255, 1);
  --wc-color-background-brand-bold-default: rgba(86, 156, 255, 1);
  --wc-color-background-brand-bold-hovered: rgba(132, 183, 255, 1);
  --wc-color-background-brand-bold-pressed: rgba(203, 224, 255, 1);
  --wc-color-background-danger-default: rgba(66, 34, 31, 1);
  --wc-color-background-danger-hovered: rgba(93, 31, 26, 1);
  --wc-color-background-danger-pressed: rgba(174, 46, 36, 1);
  --wc-color-background-danger-bold-default: rgba(248, 113, 104, 1);
  --wc-color-background-danger-bold-hovered: rgba(253, 152, 145, 1);
  --wc-color-background-danger-bold-pressed: rgba(255, 213, 210, 1);
  --wc-color-background-warning-default: rgba(51, 46, 27, 1);
  --wc-color-background-warning-hovered: rgba(83, 63, 4, 1);
  --wc-color-background-warning-pressed: rgba(127, 95, 1, 1);
  --wc-color-background-warning-bold-default: rgba(245, 205, 71, 1);
  --wc-color-background-warning-bold-hovered: rgba(226, 178, 3, 1);
  --wc-color-background-warning-bold-pressed: rgba(207, 159, 2, 1);
  --wc-color-background-success-default: rgba(28, 51, 41, 1);
  --wc-color-background-success-hovered: rgba(21, 75, 52, 1);
  --wc-color-background-success-pressed: rgba(32, 109, 77, 1);
  --wc-color-background-success-bold-default: rgba(75, 206, 151, 1);
  --wc-color-background-success-bold-hovered: rgba(126, 226, 184, 1);
  --wc-color-background-success-bold-pressed: rgba(186, 243, 219, 1);
  --wc-color-background-discovery-default: rgba(43, 39, 63, 1);
  --wc-color-background-discovery-hovered: rgba(53, 44, 99, 1);
  --wc-color-background-discovery-pressed: rgba(94, 77, 178, 1);
  --wc-color-background-discovery-bold-default: rgba(159, 143, 239, 1);
  --wc-color-background-discovery-bold-hovered: rgba(184, 172, 246, 1);
  --wc-color-background-discovery-bold-pressed: rgba(222, 216, 252, 1);
  --wc-color-background-information-default: rgba(28, 43, 65, 1);
  --wc-color-background-information-hovered: rgba(9, 50, 108, 1);
  --wc-color-background-information-pressed: rgba(0, 85, 204, 1);
  --wc-color-background-information-bold-default: rgba(86, 156, 255, 1);
  --wc-color-background-information-bold-hovered: rgba(132, 183, 255, 1);
  --wc-color-background-information-bold-pressed: rgba(203, 224, 255, 1);
  --wc-color-blanket-default: rgba(16, 18, 20, 0.6);
  --wc-color-blanket-selected: rgba(28, 121, 251, 0.08);
  --wc-color-blanket-danger: rgba(227, 73, 53, 0.08);
  --wc-color-interaction-hovered: rgba(255, 255, 255, 0.2);
  --wc-color-interaction-pressed: rgba(255, 255, 255, 0.36);
  --wc-color-skeleton-default: rgba(160, 188, 216, 0.08);
  --wc-color-skeleton-subtle: rgba(188, 214, 240, 0.04);
  --wc-color-chart-categorical-1-default: rgba(40, 152, 189, 1);
  --wc-color-chart-categorical-1-hovered: rgba(66, 178, 215, 1);
  --wc-color-chart-categorical-2-default: rgba(184, 172, 246, 1);
  --wc-color-chart-categorical-2-hovered: rgba(222, 216, 252, 1);
  --wc-color-chart-categorical-3-default: rgba(229, 105, 16, 1);
  --wc-color-chart-categorical-3-hovered: rgba(243, 138, 63, 1);
  --wc-color-chart-categorical-4-default: rgba(247, 151, 210, 1);
  --wc-color-chart-categorical-4-hovered: rgba(253, 208, 235, 1);
  --wc-color-chart-categorical-5-default: rgba(203, 224, 255, 1);
  --wc-color-chart-categorical-5-hovered: rgba(233, 242, 255, 1);
  --wc-color-chart-categorical-6-default: rgba(130, 112, 219, 1);
  --wc-color-chart-categorical-6-hovered: rgba(143, 126, 231, 1);
  --wc-color-chart-categorical-7-default: rgba(253, 208, 235, 1);
  --wc-color-chart-categorical-7-hovered: rgba(255, 236, 248, 1);
  --wc-color-chart-categorical-8-default: rgba(254, 193, 149, 1);
  --wc-color-chart-categorical-8-hovered: rgba(254, 222, 200, 1);
  --wc-color-chart-neutral-default: rgba(115, 132, 150, 1);
  --wc-color-chart-neutral-hovered: rgba(140, 155, 171, 1);
  --wc-color-chart-red-bold-default: rgba(226, 72, 61, 1);
  --wc-color-chart-red-bold-hovered: rgba(241, 91, 80, 1);
  --wc-color-chart-red-bolder-default: rgba(241, 91, 80, 1);
  --wc-color-chart-red-bolder-hovered: rgba(248, 113, 104, 1);
  --wc-color-chart-red-boldest-default: rgba(253, 152, 145, 1);
  --wc-color-chart-red-boldest-hovered: rgba(255, 213, 210, 1);
  --wc-color-chart-orange-bold-default: rgba(243, 138, 63, 1);
  --wc-color-chart-orange-bold-hovered: rgba(254, 163, 98, 1);
  --wc-color-chart-orange-bolder-default: rgba(254, 163, 98, 1);
  --wc-color-chart-orange-bolder-hovered: rgba(254, 193, 149, 1);
  --wc-color-chart-orange-boldest-default: rgba(254, 193, 149, 1);
  --wc-color-chart-orange-boldest-hovered: rgba(254, 222, 200, 1);
  --wc-color-chart-yellow-bold-default: rgba(207, 159, 2, 1);
  --wc-color-chart-yellow-bold-hovered: rgba(226, 178, 3, 1);
  --wc-color-chart-yellow-bolder-default: rgba(226, 178, 3, 1);
  --wc-color-chart-yellow-bolder-hovered: rgba(245, 205, 71, 1);
  --wc-color-chart-yellow-boldest-default: rgba(245, 205, 71, 1);
  --wc-color-chart-yellow-boldest-hovered: rgba(248, 230, 160, 1);
  --wc-color-chart-green-bold-default: rgba(42, 187, 127, 1);
  --wc-color-chart-green-bold-hovered: rgba(75, 206, 151, 1);
  --wc-color-chart-green-bolder-default: rgba(75, 206, 151, 1);
  --wc-color-chart-green-bolder-hovered: rgba(126, 226, 184, 1);
  --wc-color-chart-green-boldest-default: rgba(126, 226, 184, 1);
  --wc-color-chart-green-boldest-hovered: rgba(186, 243, 219, 1);
  --wc-color-chart-teal-bold-default: rgba(66, 178, 215, 1);
  --wc-color-chart-teal-bold-hovered: rgba(108, 195, 224, 1);
  --wc-color-chart-teal-bolder-default: rgba(108, 195, 224, 1);
  --wc-color-chart-teal-bolder-hovered: rgba(157, 217, 238, 1);
  --wc-color-chart-teal-boldest-default: rgba(157, 217, 238, 1);
  --wc-color-chart-teal-boldest-hovered: rgba(198, 237, 251, 1);
  --wc-color-chart-blue-bold-default: rgba(28, 121, 251, 1);
  --wc-color-chart-blue-bold-hovered: rgba(56, 138, 254, 1);
  --wc-color-chart-blue-bolder-default: rgba(56, 138, 254, 1);
  --wc-color-chart-blue-bolder-hovered: rgba(86, 156, 255, 1);
  --wc-color-chart-blue-boldest-default: rgba(132, 183, 255, 1);
  --wc-color-chart-blue-boldest-hovered: rgba(203, 224, 255, 1);
  --wc-color-chart-purple-bold-default: rgba(130, 112, 219, 1);
  --wc-color-chart-purple-bold-hovered: rgba(143, 126, 231, 1);
  --wc-color-chart-purple-bolder-default: rgba(143, 126, 231, 1);
  --wc-color-chart-purple-bolder-hovered: rgba(159, 143, 239, 1);
  --wc-color-chart-purple-boldest-default: rgba(184, 172, 246, 1);
  --wc-color-chart-purple-boldest-hovered: rgba(222, 216, 252, 1);
  --wc-color-chart-magenta-bold-default: rgba(204, 81, 157, 1);
  --wc-color-chart-magenta-bold-hovered: rgba(218, 98, 172, 1);
  --wc-color-chart-magenta-bolder-default: rgba(218, 98, 172, 1);
  --wc-color-chart-magenta-bolder-hovered: rgba(231, 116, 187, 1);
  --wc-color-chart-magenta-boldest-default: rgba(247, 151, 210, 1);
  --wc-color-chart-magenta-boldest-hovered: rgba(253, 208, 235, 1);
  --wc-color-chart-gray-bold-default: rgba(115, 132, 150, 1);
  --wc-color-chart-gray-bold-hovered: rgba(140, 155, 171, 1);
  --wc-color-chart-gray-bolder-default: rgba(140, 155, 171, 1);
  --wc-color-chart-gray-bolder-hovered: rgba(159, 173, 188, 1);
  --wc-color-chart-gray-boldest-default: rgba(159, 173, 188, 1);
  --wc-color-chart-gray-boldest-hovered: rgba(182, 194, 207, 1);
  --wc-color-chart-brand-default: rgba(56, 138, 254, 1);
  --wc-color-chart-brand-hovered: rgba(86, 156, 255, 1);
  --wc-color-chart-danger-default: rgba(226, 72, 61, 1);
  --wc-color-chart-danger-hovered: rgba(241, 91, 80, 1);
  --wc-color-chart-danger-bold-default: rgba(253, 152, 145, 1);
  --wc-color-chart-danger-bold-hovered: rgba(255, 213, 210, 1);
  --wc-color-chart-warning-default: rgba(207, 159, 2, 1);
  --wc-color-chart-warning-hovered: rgba(226, 178, 3, 1);
  --wc-color-chart-warning-bold-default: rgba(245, 205, 71, 1);
  --wc-color-chart-warning-bold-hovered: rgba(248, 230, 160, 1);
  --wc-color-chart-success-default: rgba(42, 187, 127, 1);
  --wc-color-chart-success-hovered: rgba(75, 206, 151, 1);
  --wc-color-chart-success-bold-default: rgba(126, 226, 184, 1);
  --wc-color-chart-success-bold-hovered: rgba(186, 243, 219, 1);
  --wc-color-chart-discovery-default: rgba(130, 112, 219, 1);
  --wc-color-chart-discovery-hovered: rgba(143, 126, 231, 1);
  --wc-color-chart-discovery-bold-default: rgba(184, 172, 246, 1);
  --wc-color-chart-discovery-bold-hovered: rgba(222, 216, 252, 1);
  --wc-color-chart-information-default: rgba(28, 121, 251, 1);
  --wc-color-chart-information-hovered: rgba(56, 138, 254, 1);
  --wc-color-chart-information-bold-default: rgba(132, 183, 255, 1);
  --wc-color-chart-information-bold-hovered: rgba(203, 224, 255, 1);
  --wc-elevation-surface-default: rgba(29, 33, 37, 1);
  --wc-elevation-surface-hovered: rgba(33, 38, 43, 1);
  --wc-elevation-surface-pressed: rgba(40, 46, 51, 1);
  --wc-elevation-surface-overlay-default: rgba(40, 46, 51, 1);
  --wc-elevation-surface-overlay-hovered: rgba(44, 51, 58, 1);
  --wc-elevation-surface-overlay-pressed: rgba(56, 65, 74, 1);
  --wc-elevation-surface-raised-default: rgba(33, 38, 43, 1);
  --wc-elevation-surface-raised-hovered: rgba(40, 46, 51, 1);
  --wc-elevation-surface-raised-pressed: rgba(44, 51, 58, 1);
  --wc-elevation-surface-sunken-default: rgba(22, 26, 29, 1);
  --wc-elevation-shadow-overflow-perimeter: rgba(3, 4, 4, 0.5);
  --wc-elevation-shadow-overflow-spread: rgba(3, 4, 4, 0.56);
  --wc-color-background-accent-lime-subtlest-default: rgba(40, 49, 27, 1);
  --wc-color-background-accent-lime-subtler-default: rgba(55, 71, 31, 1);
  --wc-color-background-accent-lime-subtle-default: rgba(76, 107, 31, 1);
  --wc-color-background-accent-lime-bolder-default: rgba(148, 199, 72, 1);
  --wc-color-text-accent-lime-default: rgba(179, 223, 114, 1);
  --wc-color-text-accent-lime-bolder: rgba(211, 241, 167, 1);
  --wc-color-icon-accent-lime: rgba(130, 181, 54, 1);
  --wc-color-border-accent-lime: rgba(130, 181, 54, 1);
  --wc-color-chart-lime-bold-default: rgba(130, 181, 54, 1);
  --wc-color-chart-lime-bolder-default: rgba(148, 199, 72, 1);
  --wc-color-chart-lime-boldest-default: rgba(179, 223, 114, 1);
  --wc-color-chart-lime-boldest-hovered: rgba(211, 241, 167, 1);
  --wc-color-chart-lime-bolder-hovered: rgba(179, 223, 114, 1);
  --wc-color-chart-lime-bold-hovered: rgba(148, 199, 72, 1);
  --wc-color-background-brand-subtlest-default: rgba(28, 43, 65, 1);
  --wc-color-background-brand-subtlest-hovered: rgba(9, 50, 108, 1);
  --wc-color-background-brand-subtlest-pressed: rgba(0, 85, 204, 1);
  --wc-color-background-brand-boldest-default: rgba(233, 242, 255, 1);
  --wc-color-background-brand-boldest-hovered: rgba(203, 224, 255, 1);
  --wc-color-background-brand-boldest-pressed: rgba(132, 183, 255, 1);
  --wc-color-background-accent-red-subtlest-hovered: rgba(93, 31, 26, 1);
  --wc-color-background-accent-red-subtlest-pressed: rgba(174, 46, 36, 1);
  --wc-color-background-accent-red-subtler-hovered: rgba(174, 46, 36, 1);
  --wc-color-background-accent-red-subtler-pressed: rgba(201, 55, 44, 1);
  --wc-color-background-accent-red-subtle-hovered: rgba(93, 31, 26, 1);
  --wc-color-background-accent-red-subtle-pressed: rgba(66, 34, 31, 1);
  --wc-color-background-accent-red-bolder-hovered: rgba(253, 152, 145, 1);
  --wc-color-background-accent-red-bolder-pressed: rgba(255, 213, 210, 1);
  --wc-color-background-accent-orange-subtlest-hovered: rgba(112, 46, 0, 1);
  --wc-color-background-accent-orange-subtler-hovered: rgba(165, 72, 0, 1);
  --wc-color-background-accent-orange-subtle-hovered: rgba(112, 46, 0, 1);
  --wc-color-background-accent-orange-bolder-hovered: rgba(254, 193, 149, 1);
  --wc-color-background-accent-orange-subtlest-pressed: rgba(165, 72, 0, 1);
  --wc-color-background-accent-orange-subtler-pressed: rgba(194, 81, 0, 1);
  --wc-color-background-accent-orange-subtle-pressed: rgba(56, 41, 30, 1);
  --wc-color-background-accent-orange-bolder-pressed: rgba(254, 222, 200, 1);
  --wc-color-background-accent-yellow-bolder-hovered: rgba(245, 205, 71, 1);
  --wc-color-background-accent-yellow-subtle-hovered: rgba(83, 63, 4, 1);
  --wc-color-background-accent-yellow-subtler-hovered: rgba(127, 95, 1, 1);
  --wc-color-background-accent-yellow-subtlest-hovered: rgba(83, 63, 4, 1);
  --wc-color-background-accent-yellow-bolder-pressed: rgba(248, 230, 160, 1);
  --wc-color-background-accent-yellow-subtle-pressed: rgba(51, 46, 27, 1);
  --wc-color-background-accent-yellow-subtler-pressed: rgba(147, 110, 0, 1);
  --wc-color-background-accent-yellow-subtlest-pressed: rgba(127, 95, 1, 1);
  --wc-color-background-accent-lime-bolder-hovered: rgba(179, 223, 114, 1);
  --wc-color-background-accent-lime-subtle-hovered: rgba(55, 71, 31, 1);
  --wc-color-background-accent-lime-subtler-hovered: rgba(76, 107, 31, 1);
  --wc-color-background-accent-lime-subtlest-hovered: rgba(55, 71, 31, 1);
  --wc-color-background-accent-lime-bolder-pressed: rgba(211, 241, 167, 1);
  --wc-color-background-accent-lime-subtle-pressed: rgba(40, 49, 27, 1);
  --wc-color-background-accent-lime-subtler-pressed: rgba(91, 127, 36, 1);
  --wc-color-background-accent-lime-subtlest-pressed: rgba(76, 107, 31, 1);
  --wc-color-background-accent-green-bolder-hovered: rgba(126, 226, 184, 1);
  --wc-color-background-accent-green-subtle-hovered: rgba(21, 75, 52, 1);
  --wc-color-background-accent-green-subtler-hovered: rgba(32, 109, 77, 1);
  --wc-color-background-accent-green-subtlest-hovered: rgba(21, 75, 52, 1);
  --wc-color-background-accent-green-bolder-pressed: rgba(186, 243, 219, 1);
  --wc-color-background-accent-green-subtle-pressed: rgba(28, 51, 41, 1);
  --wc-color-background-accent-green-subtler-pressed: rgba(31, 132, 89, 1);
  --wc-color-background-accent-green-subtlest-pressed: rgba(32, 109, 77, 1);
  --wc-color-background-accent-teal-bolder-hovered: rgba(157, 217, 238, 1);
  --wc-color-background-accent-teal-subtle-hovered: rgba(22, 69, 85, 1);
  --wc-color-background-accent-teal-subtler-hovered: rgba(32, 106, 131, 1);
  --wc-color-background-accent-teal-subtlest-hovered: rgba(22, 69, 85, 1);
  --wc-color-background-accent-teal-bolder-pressed: rgba(198, 237, 251, 1);
  --wc-color-background-accent-teal-subtle-pressed: rgba(30, 49, 55, 1);
  --wc-color-background-accent-teal-subtler-pressed: rgba(34, 125, 155, 1);
  --wc-color-background-accent-teal-subtlest-pressed: rgba(32, 106, 131, 1);
  --wc-color-background-accent-blue-bolder-hovered: rgba(132, 183, 255, 1);
  --wc-color-background-accent-blue-subtle-hovered: rgba(9, 50, 108, 1);
  --wc-color-background-accent-blue-subtler-hovered: rgba(0, 85, 204, 1);
  --wc-color-background-accent-blue-subtlest-hovered: rgba(9, 50, 108, 1);
  --wc-color-background-accent-blue-bolder-pressed: rgba(203, 224, 255, 1);
  --wc-color-background-accent-blue-subtle-pressed: rgba(28, 43, 65, 1);
  --wc-color-background-accent-blue-subtler-pressed: rgba(11, 101, 227, 1);
  --wc-color-background-accent-blue-subtlest-pressed: rgba(0, 85, 204, 1);
  --wc-color-background-accent-purple-bolder-hovered: rgba(184, 172, 246, 1);
  --wc-color-background-accent-purple-subtle-hovered: rgba(53, 44, 99, 1);
  --wc-color-background-accent-purple-subtler-hovered: rgba(94, 77, 178, 1);
  --wc-color-background-accent-purple-subtlest-hovered: rgba(53, 44, 99, 1);
  --wc-color-background-accent-purple-bolder-pressed: rgba(222, 216, 252, 1);
  --wc-color-background-accent-purple-subtle-pressed: rgba(43, 39, 63, 1);
  --wc-color-background-accent-purple-subtler-pressed: rgba(110, 92, 197, 1);
  --wc-color-background-accent-purple-subtlest-pressed: rgba(94, 77, 178, 1);
  --wc-color-background-accent-magenta-bolder-hovered: rgba(247, 151, 210, 1);
  --wc-color-background-accent-magenta-subtle-hovered: rgba(80, 37, 63, 1);
  --wc-color-background-accent-magenta-subtler-hovered: rgba(148, 60, 114, 1);
  --wc-color-background-accent-magenta-subtlest-hovered: rgba(80, 37, 63, 1);
  --wc-color-background-accent-magenta-bolder-pressed: rgba(253, 208, 235, 1);
  --wc-color-background-accent-magenta-subtle-pressed: rgba(61, 34, 50, 1);
  --wc-color-background-accent-magenta-subtler-pressed: rgba(174, 71, 135, 1);
  --wc-color-background-accent-magenta-subtlest-pressed: rgba(148, 60, 114, 1);
  --wc-color-background-accent-gray-bolder-hovered: rgba(159, 173, 188, 1);
  --wc-color-background-accent-gray-subtle-hovered: rgba(69, 79, 89, 1);
  --wc-color-background-accent-gray-subtler-hovered: rgba(89, 103, 115, 1);
  --wc-color-background-accent-gray-subtlest-hovered: rgba(56, 65, 74, 1);
  --wc-color-background-accent-gray-bolder-pressed: rgba(182, 194, 207, 1);
  --wc-color-background-accent-gray-subtle-pressed: rgba(56, 65, 74, 1);
  --wc-color-background-accent-gray-subtler-pressed: rgba(115, 132, 150, 1);
  --wc-color-background-accent-gray-subtlest-pressed: rgba(69, 79, 89, 1);
  --wc-color-link-visited: rgba(184, 172, 246, 1);
}
